* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul, ol, menu {
    list-style: none;
}

a {
    color: currentColor;
    text-decoration: none;
}

body {
    background-color: #1B1B1B;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem 0;
}

@mixin my-flex{
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}

